nav {
    background-color: #009688;
}

nav a {
    color: #b2dfdb;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover, .navbar-brand {
    color: #f0f8ff;
}

.active {
    text-decoration: underline;
    color: #f0f8ff;
}

.logo {
    font-size: 1.6rem;
    color: #f0f8ff;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}

.oreo-container span {
    height: 4px;
    width: 35px;
    background: #231F20;
    margin: 2px auto;
    display: block;
    z-index: 1;
}

.oreo-container span:nth-child(2n+1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.oreo-container span:nth-child(2n) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-toggler-icon {
    background-image: none !important;
}