.errorMsg {
    color: red;
    margin-bottom: 1rem;
}

.form-group {
    margin: 0;
}

#register, #login {
    border-top: none;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    width:50%;
    margin: 0 auto;
    padding: 20px;
}